_ReSharper*
/AzureDeploymentCmdlets/src/AzureDeploymentCmdlets.Test/bin
/AzureDeploymentCmdlets/src/AzureDeploymentCmdlets/bin
/AzureDeploymentCmdlets/setup/build
obj
TestResults
*.user
*.suo
/AzureDeploymentCmdlets/src/util
*.orig